/* public/css/style.css */

body {
	font-family: Georgia, 'Times New Roman', serif; /* Font chữ serif dễ đọc trên e-ink */

	line-height: 1.6;

	background-color: #ffffff;

	color: #000000;

	/* max-width: 800px; Giới hạn chiều rộng để dễ đọc */

	margin: 0 auto;

	padding: 10px;
}

h1,
h2 {
	border-bottom: 2px solid #333;

	padding-bottom: 10px;

	margin-top: 30px;
}

h1 {
	font-size: 2em; /* em giúp co giãn tốt hơn */
}

h2 {
	font-size: 1.5em;
}

img {
	text-align: center;
}

ul {
	list-style-type: none;

	padding: 0;
}

a {
	text-decoration: none;
}

button {
	height: 60px;

	padding: 5px 20px;

	border-radius: 10px;

	font-size: 30px;
}

/* HOME PAGE */

.add-story-input {
	width: 820px;

	height: 60px;

	margin: 0 auto;

	margin-bottom: 10px;

	padding: 10px;

	border: 1px solid #ccc;

	border-radius: 5px;

	font-size: 30px;

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	box-sizing: border-box;
}

.add-story-button {
	height: 60px;

	padding: 5 15px;

	border-radius: 5px;

	font-size: 30px;
}

.update-story-button {
	height: 60px;

	width: 100%;

	padding: 5 15px;

	border-radius: 5px;

	font-size: 30px;

	margin-top: 15px;
}

.story-list {
	list-style-type: none;

	padding: 0;

	margin: 0;
}

.story-item {
	border-bottom: 1px solid #ccc;

	padding: 15px 0;
}

.story-link-wrapper {
	display: block;

	text-decoration: none;

	color: #000;
}

.story-link-wrapper > button {
	height: 350px;

	text-align: left;

	background-color: transparent;

	border: none;
}

.story-link-wrapper:hover {
	background-color: #f0f0f0;
}

.story-cover {
	float: left;

	width: 200px;

	margin-right: 15px;
}

.story-cover img {
	max-width: 100%;

	height: auto;

	display: block;
}

.story-info h3,
.story-info p {
	margin-top: 0;

	margin-bottom: 8px;
}

.story-title {
	font-size: 1.4em;

	line-height: 1.3;
}

.story-desc {
	font-size: 1.1em;

	color: #101010;

	font-style: italic;

	margin-right: 25px;

	text-decoration: none;
}

.story-summary {
	font-size: 1em;

	line-height: 1.5;

	opacity: 0.8;

	margin-top: 5px;

	color: #333;

	text-decoration: none;

	overflow-y: hidden;
}

.clearfix::after {
	content: '';

	display: table;

	clear: both;
}

.story-action {
	margin-top: 15px;

	display: block;
}

.story-action form {
	display: inline-block;

	margin-right: 10px;
}

.story-action button::hover {
	background-color: #f0f0f0;
}

/* STORY PAGE */

.story-info-container {
	display: block;

	height: 350px;
}

.story-page.story-action {
	text-align: center;
}

.story-page.story-action button {
	margin-right: 20px;
}

.story-page.story-action span {
	font-size: 35px;

	margin: 0 20px;
}

.story-page.story-progress {
	height: 200px;

	width: 100%;

	text-align: left;

	margin: 20px 10px;

	margin-left: 25px;

	border: 1px solid #ccc;

	border-radius: 10px;

	padding: 0 10px;

	font-size: 30px;

	background-color: #ccc;
}

.story-page.story-progress p {
	margin: 5px 0;
}

.story-page.story-progress p:first-child {
	font-weight: bold;

	text-align: center;
}

.story-page.story-progress .story-progress-chapter {
	font-weight: bold;

	text-align: left;

	font-size: 1.2em;
}

.story-page.story-progress .story-progress-volume {
	color: #333;
}

.chapter-list {
	list-style-type: none;

	padding: 0;
}

.chapter-container {
	padding: 10px;

	font-size: 3rem;
}

.chapter-item {
	padding: 10px 5px;

	border-bottom: 1px solid #ccc;

	display: flex;

	justify-content: space-between;

	align-items: center;
}

.chapter-item a {
	text-decoration: none;

	color: #000000;

	font-weight: bold;

	font-size: 1.1em;

	display: block;

	width: 100%;
}

.chapter-item a:hover {
	background-color: #f0f0f0;
}

/* STORY PAGE */

.chapter-header {
	text-align: center;

	margin-bottom: 40px;

	border-bottom: 1px solid #ccc;

	padding-bottom: 20px;
}

.chapter-header h2 {
	margin-bottom: 5px;

	border: none;

	font-size: 1em;
}

.chapter-header h4 {
	margin-top: 0;

	font-size: 1.1em;

	font-weight: normal;

	color: #333;
}

#chapter-content p {
	margin-bottom: 1.2em;

	text-indent: 1.5em;

	font-size: 40px;
}

.chapter-nav {
	margin: 20px 0;

	text-align: center;
}
